/* Please do not use this import in production. You could download this font from here https://fontstorage.com/font/pt-sans-narrow */
@import 'http://fonts.fontstorage.com/import/ptsansnarrow.css';

body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: aliceblue;
  font-family: 'PT Sans Narrow', serif;
}

.container {
  max-width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* родительский див от прозрачный анимированный вращется вокру своей оси ему главное свойство  transform-style: preserve-3d; */
.box-main {
  width: 200px;
  height: 200px;
  animation-name: round_iteself;
  transform-style: preserve-3d;
  animation-timing-function: linear;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
@keyframes round_iteself {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

/*  правый див  он в цернте его не отображаем ему тоже ставим transform-style: preserve-3d; что бы два псевдодива имели свойство  transform: translateZ(50px); */
.box-anim-right {
  position: absolute;
  width: 200px;
  height: 200px;

  transform-style: preserve-3d;
  animation-name: round-right;
  animation-timing-function: linear;
  animation-duration: 14s;
  animation-iteration-count: infinite;
  border-radius: 20px;
}

/* псевдо див и фон главый  с текстом  главное свойство transform: translateZ(50px)  */
.box-anim-right:after {
  position: absolute;
  line-height: 200px;
  top: 0px;
  left: 0px;
  content: 'Hello';
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  background: rgb(6, 6, 238);
  transform: translateZ(50px);
  border-radius: inherit;
}

/* псевдо див и фон для него что бы главный див с текстом не просвечивался главное свойство transform: translateZ(50px) */

.box-anim-right::before {
  position: absolute;
  box-sizing: border-box;
  display: block;
  top: 0px;
  left: 0px;
  content: '';
  width: 200px;
  height: 200px;
  background: rgb(47, 47, 53);
  transform: translateZ(50px);
  border-radius: inherit;
}
/* крутим  правый див против часовой стрелки  */
@keyframes round-right {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(-360deg);
  }
}
/* левый див  он в цернте его не отображаем ему тоже ставим transform-style: preserve-3d; 
 что бы два псевдодива имели свойство  transform: translateZ(50px); */
.box-anim-left {
  box-sizing: border-box;
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  animation-name: round-left;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  border-radius: 20px;
}
/* псевдо див и фон главый  с текстом 
---- добвляем псевдо див  его разворачиваем вокруг своей оси на 180 град что бы он встал напротв псевдо правого дива 
важный стиль для него transform: rotateY(180deg) translateZ(50px); */
.box-anim-left::after {
  position: absolute;
  line-height: 200px;
  top: 0px;
  left: 0px;
  content: 'Good Bye';
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  background: rgb(235, 33, 33);
  transform: rotateY(180deg) translateZ(50px);
  border-radius: inherit;
}

/* псевдо див и фон для него что бы главный див с текстом не просвечивался  */
.box-anim-left::before {
  position: absolute;
  top: 0px;
  left: 0px;
  content: '';
  width: 200px;
  height: 200px;
  background: rgb(47, 47, 53);
  transform: rotateY(180deg) translateZ(50px);
  border-radius: inherit;
}
@keyframes round-left {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.button {
  position: relative;
  width: 50px;
  margin-top: 50px;
  border-radius: 5px;
  outline: none;
  box-shadow: 3px 6px 5px 2px black;
}

.paused {
  animation-play-state: paused;
}

.blur {
  background: rgba(128, 128, 128, 0.411);
  filter: blur(0.7px);
  color: red;
}
