/* Please do not use this import in production. You could download this font from here https://fontstorage.com/font/pt-sans-narrow */
@import 'http://fonts.fontstorage.com/import/ptsansnarrow.css';

body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: aliceblue;
  font-family: 'PT Sans Narrow', serif;
}

.container {
  max-width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-main {
  position: relative;

  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
  background: rgb(68, 68, 66);
  font-size: 20px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 20px;
}

.box-anim-right {
  box-sizing: border-box;
  position: relative;
  left: 0px;
  top: 0px;
  transform-style: preserve-3d;
  width: 200px;
  height: 200px;
  background: rgb(218, 164, 121);

  animation-name: round-right;
  animation-timing-function: linear;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  border-radius: 20px;
}

.box-anim-right::before {
  box-shadow: 0 0 20px black;
  line-height: 200px;
  box-sizing: border-box;
  display: block;
  top: 0px;
  left: 0px;
  content: 'Hello';
  width: 200px;
  height: 200px;
  background: rgb(194, 148, 148);
  transform: translateZ(20px);
  border-radius: inherit;
}
@keyframes round-right {
  0% {
    transform: rotate(0deg) translateX(0px) translateY(0px);
  }
  40% {
    transform: translateX(-300px) rotate(-45deg);
  }
  50% {
    transform: translateX(-300px) translateY(-200px) rotate(0deg)
      rotateY(180deg);
  }
  60% {
    transform: translateX(-300px) translateY(-200px) rotateY(0deg);
  }

  70% {
    transform: translateX(-300px) translateY(-200px);
  }
  85% {
    transform: translateX(0px) translateY(-200px);
  }
  95% {
    transform: translateX(0px) translateY(-200px);
  }

  100% {
    transform: rotate(0deg) translateX(0px) translateY(0px);
  }
}

.box-anim-left {
  box-sizing: border-box;
  position: relative;
  top: -200px;
  transform-style: preserve-3d;
  width: 200px;
  height: 200px;
  background: rgb(194, 148, 148);

  animation-name: round-left;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  border-radius: 20px;
}

.box-anim-left::before {
  box-shadow: 0 0 20px black;

  line-height: 200px;
  box-sizing: border-box;
  display: block;
  top: 0px;
  left: 0px;
  content: 'Good Bye';
  width: 200px;
  height: 200px;
  background: rgb(134, 129, 206);
  transform: translateZ(20px);
  border-radius: inherit;
}
@keyframes round-left {
  0% {
    transform: rotate(0deg) translateX(0px) translateY(0px);
  }

  40% {
    transform: translateX(300px) rotate(45deg);
  }

  50% {
    transform: translateX(300px) translateY(-200px) rotate(0deg);
  }
  60% {
    transform: translateX(300px) translateY(-200px) rotateY(180deg);
  }
  70% {
    transform: translateX(300px) translateY(-200px) rotateY(180deg);
  }
  75% {
    transform: translateX(300px) translateY(-200px);
  }
  85% {
    transform: translateX(0px) translateY(-200px);
  }
  95% {
    transform: translateX(0px) translateY(-200px);
  }

  100% {
    transform: rotate(0deg) translateX(0px) translateY(0px);
  }
}

.button {
  position: relative;
  width: 50px;
  margin-top: 20px;
  border-radius: 5px;
  outline: none;
  box-shadow: 3px 6px 5px 2px black;
}
.paused {
  animation-play-state: paused;
}
